<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">API Golf de la Domangère</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- POST -->
            <h2 style="text-align: center;">Methode POST : Permet de publier du contenu</h2>
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/">
                        <div class="form-group">
                            <label>Trou</label>
                            <input class="form-control" type="text" name="trou">
                        </div>
                        <div class="form-group">
                            <label>Par</label>
                            <input class="form-control" type="text" name="par">
                        </div>
                        <div class="form-group">
                            <label>Handicap</label>
                            <input class="form-control" type="text" name="handicap">
                        </div>
                        <div class="form-group">
                            <label>Départ Rouge</label>
                            <input class="form-control" type="text" name="rouge">
                        </div>
                        <div class="form-group">
                            <label>Départ Bleu</label>
                            <input class="form-control" type="text" name="bleu">
                        </div>
                        <div class="form-group">
                            <label>Départ Jaune</label>
                            <input class="form-control" type="text" name="jaune">
                        </div>
                        <div class="form-group">
                            <label>Départ Blanc</label>
                            <input class="form-control" type="text" name="blanc">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
                
        
    
    <div class="row">
    
        <div class="col-mod-12">
            <!-- GET -->
            <h1 style="text-align: center;">Methode GET : Permet d'afficher</h1>
        </div>
    </div>   
        <div class="row">
            <div class="col-md-6">
                
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    
                                </li>
                            </ul>
                        </div>
                
                    </div>
            </div>
            <div class="col-md-6">
                
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    
                                </li>
                            </ul>
                        </div>
                
                    </div>
            </div>
        </div>

</div>